@font-face {
    font-family: "RobotoMedium";
    src: url("./../assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandMedium";
    src: url("./../assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("./../assets/fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("./assets/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("./assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}
ul, li, p, h2, h3, h4{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
button{
    border-color: transparent;
}
.header__container{
    max-width: 1205px;
    padding: 19px 0;
}
.header__logo{
    margin-right: 75px;
}

.menu__list-item{
    margin-right: 42px;
}
.menu__list-item:last-child{
    margin-right: 0px;
}
.header__social{
    margin-right: 45px;
}
.social__list-item{
    margin-right: 35px;
}
.social__list-item:last-child{
    margin-right: 0;
}
.btn{
    border-radius: 2px;
    font-family: 'QuicksandBold', sans-serif;
    font-size: 13px;
    line-height: 16px;
}
.btn--primary{
    width: 113px;
    height: 43px;
}
.btn--started{
    background-color:#D2E1FF;
    color: #3A79FF;
}
.plan__wrapper{
    background: url(./assets/img/bg_plan.png) no-repeat;
    padding-top: 90px ;
}
.title__text,
.title__slogan,
.title__slogan-bold{
    color: #3D4F9F;
}
.title__text{
    font-family: "RobotoMedium", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.title__plan{
    margin-bottom: 15px;
}
.title__slogan{
    font-family: "QuicksandMedium", sans-serif;
    font-size: 24px;
}
.title__slogan-big{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 28px;
}

.title__slogan-bold{
    font-family: "QuicksandBold", sans-serif;
}
.text{
    font-family: "RobotoRegular", sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #8D96BD;
}
.plan__text{
    margin-left: 35px;
    margin-right: 35px;
}
.app__wrapper{
    background-color: #F5F8FF;
    padding: 208px 0 216px;
}
.app__title{
    margin-bottom: 27px;
}

.app__text{
    padding-right: 45px;
    margin-bottom: 50px;
    margin-top: 27px;
}
.app__slogan{
    font-size: 36px;
}

.app__btn{
    width: 130px;
    height: 43px;
}
.btn--dark-blue{
    background-color: #4C85FF;
    color: #fff;
}
.btn--transparent{
    background-color: transparent;
}
.btn--features{
    color: #ADB4D2;
    border-color: #D1D1E4;
    position: relative;
    left: -4px;
}
.app__illustration{
    width: 655px;
    height: 435px;
}
.app__img{
    position: absolute;
    left: -26%;
    top: -38px;
}
.about__wrapper{
    background-image: url(./assets/img/clouds.svg);
    min-height: 885px;
    background-size: cover;
    display: flex;
    align-items: center;

}
.about__info{
    margin-top: 92px;
}
.about__subtitle{
    font-family: "OpenSansBold", sans-serif;
    font-size: 14px;
    color: #4074F8;
    line-height: 25px;
}
.about__text{
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 11px;
    color: #ADB3CB;
    padding: 25px 10px 0;
    line-height: 20px;
}
.btn--more{
    background-color:#FFD7D7;
    color: #D43F3F;
}

.text__between{
    margin: 0 48px;
}
.about__buttons{
    margin-top: 120px;
}